<div class="_topnav" data-nav="essay">
	<nav class="topnav">
		<ul>
			<li class="topnav__logo">
				<button>
				    <a href="../index.html">
					    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66.5 59.2" height="50px">
					    	<title>furnaceAndFugueLogo</title>
					    	<g id="Layer_2" data-name="Layer 2">
					    		<g id="furnace_and_fugue_logo" data-name="furnace and fugue logo">
						    		<text transform="translate(0 45.8)" font-size="53.84" fill="#fff" font-family="GTSectraDisplay-Bold, GT Sectra Display" font-weight="700">f</text>
						    		<text transform="translate(18.2 45.8)" font-size="42.24" fill="#fff" font-family="GTSectraDisplay-Bold, GT Sectra Display" font-weight="700">&amp;</text>
						    		<text transform="translate(46.3 45.8)" font-size="53.84" fill="#fff" font-family="GTSectraDisplay-Bold, GT Sectra Display" font-weight="700">f</text>
						    	</g>
						    </g>
						</svg>
					</a>
				</button>
			</li>
			<li class="topnav__content">
				<ul>
					<li><a href="../atalanta-fugiens/toc_af.html">{{menu1}}</a></li>
					<li><a href="../atalanta-essays/toc_essays.html">{{menu2}}</a></li>
					<li><a href="../search/toc_image-search.html">{{menu3}}</a></li>
					<li><a href="../search/toc.html">{{menu4}}</a></li>
				</ul>
			</li>
			<li class="topnav__search">
				<button>
					<a href="../search/search.html">
						<span class="icon">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 960 560" xml:space="preserve">
								<style type="text/css">.st0{fill:none;stroke:#fff; stroke-width:20;stroke-miterlimit:10;}</style>
								<g id="handle">
									<g><path class="st0" d="M537.6,337.5l97,97L537.6,337.5z"/></g>
								</g>
								<g id="glass">
									<g><path class="st0" d="M480,153c33.9,0,65.8,13.2,89.8,37.2S607,246.1,607,280s-13.2,65.8-37.2,89.8S513.9,407,480,407s-65.8-13.2-89.8-37.2
				S353,313.9,353,280s13.2-65.8,37.2-89.8S446.1,153,480,153 M480,143c-75.7,0-137,61.3-137,137s61.3,137,137,137s137-61.3,137-137
				S555.7,143,480,143L480,143z"/></g>
								</g>
							</svg>
						</span>
						<span class="label">Search</span>
					</a>
				</button>
			</li>
		</ul>
	</nav>
</div>